# Dependencies
node_modules
.pnpm-store

# Environment variables
.env
.env.*
!.env.example

# Turbo
.turbo

# Build outputs
dist
build
out

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.log

# IDEs
.vscode/*
# Allow shared IDE config if desired, otherwise comment these out
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
.idea
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Testing
coverage

# Temporary files
tmp
